<IfModule mod_rewrite.c>  
  RewriteEngine On  
  RewriteBase /  
  RewriteCond $1 !^(index\.php|assets|system|robots\.txt|view|static|codeimg)    
  RewriteRule ^(.*)$ /index.php/$1 [L,QSA]  
</IfModule>  