<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0,user-scalable=no">
		<title>品牌-型号列表</title>
		<link rel="stylesheet" href="../../static/m/css/public.css?v=20171012" />
		<link rel="stylesheet" href="../../static/m/css/brand.css?v=20171011" />
	</head>
	<body>
		<div class="father">
		<header>
			<div class="header">
			  <form action="ShowBrand" method="post">
				<input type="text" name="keyword" placeholder="输入您要卖的手机型号查询" class="head_inp"/>
				<input type="submit" class="Bth"value="搜索">
				<a href="quote" class="h_user"></a>
			  </form>
			</div>
			<div class="jies">
				<span class="js_name jsSpan">品牌</span>
				<span class="js_moblie jsSpan">型号</span>
			</div>
		</header>
		<div class="mobile">
			<div class="left mobSty">
				{foreach $response as $key=>$item}
					<a href="ShowBrand?id={$item.id}" onclick="changBg(this);" class='mob {if $bid eq $item.id} mbChane {/if}' >
              			<img src='{$item.img}'><span class="f_name">{$item.name}</span>
                	</a>
				{/foreach}
			</div>
			<div class="right mobSty">
				{foreach $shops as $key=>$items}
					<a style="text-align:left;padding-left:20px" href='Attribute?id={$items.id}' class="rig" onclick="changRBg(this);">{$items.name}</a>
				{/foreach}
			</div>
		</div>
	</div>
	</body>
	<script src="../../static/m/js/jquery-1.11.1.min.js"></script>
	<script src="../../static/m/js/common.js"></script>
	<script src="../../static/m/js/brand.js"></script>
	<script>
		loadFun();
	</script>
</html>
