<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0,user-scalable=no">
		<title></title>
		<link rel="stylesheet" href="../../static/m/css/public.css?v=20171012" />
		<link rel="stylesheet" href="../../static/m/css/succ.css?v=20171012" />
	</head>
	<body>
		<div class="father">
		<header>
			<span class="head_span">订单移交成功</span>
			<a href="javascript:history.go(-1);" class="head_pos"></a>
		</header>
		<div class="box">
			<span class="img"></span>
			<p class="statu">订单移交成功</p>
			<p class="mess_stat">您的订单已经移交给提货员，请等待提货员上面</p>
			<div class="btn">
				<a class="jixu btna" href="director">继续移交</a>
				<a class="seelist btna"  href="director" >查看移交订单情况</a>
			</div>
		</div>
		</div>
	</body>
	<script src="../../static/m/js/jquery-1.11.1.min.js"></script>
	<script src="../../static/m/js/common.js"></script>
	<script src="../../static/m/js/init.js"></script>
</html>
