<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0,user-scalable=no">
		<title></title>
		<link rel="stylesheet" href="../../static/m/css/public.css?v=20171012" />
		<link rel="stylesheet" href="../../static/m/css/succ.css?v=20171012" />
	</head>
	<body>
		<div class="father">
		<header>
			<span class="head_span">交易完成</span>
			<a href="javascript:history.go(-1);" class="head_pos"></a>
		</header>
		<div class="box">
			<span class="img_pay"></span>
			<p class="statu">交易完成</p>
			<p class="mess_stat">您的订单已完成交易，钱已支付至您的微信账户</p>
			<div class="btn">
				<a href="" class="jixu btna">查看订单</a>
				<a href="" class="seelist btna">继续回收</a>
			</div>
		</div>
		</div>
	</body>
	<script src="../../static/m/js/common.js"></script>
</html>
