<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0,user-scalable=no">
		<title></title>
		<link rel="stylesheet" href="../../static/m/css/public.css?v=20171012" />
		<link rel="stylesheet" href="../../static/m/css/q_index.css?v=20171012" />
	</head>
	<body>
		<div class="father">
		<header>
			<div class="header">
			  <form action="search" method="post">
				<input type="text" name="search" placeholder="输入您要卖的手机型号查询" class="head_inp"/>
				<input type="submit" class="Bth"value="搜索">
			  </form>
			</div>
		</header>
		<div class="banner"></div>
		<div class="hot">
			<p class="hot_font">热门回收品牌</p>
			<div class="hot_mobile">
				<a href="ShowBrand?id=2" class="hot_a">iPhone</a>
				<a href="ShowBrand?id=1" class="hot_a">三星</a>
				<a href="ShowBrand?id=3" class="hot_a">小米</a>
				<a href="ShowBrand?id=4" class="hot_a">华为</a>
				<a href="ShowBrand?id=5" class="hot_a">摩托罗拉</a>
				<a href="ShowBrand?id=10" class="hot_a">中兴</a>
				<a href="ShowBrand?id=7" class="hot_a">联想</a>
				<a href="ShowBrand?id=8" class="hot_a">诺基亚</a>
			</div>
			<p class="hot_font">热门回收机型</p>
				<div class="h_p_box">
				<a href="Attribute?id=5163" class="phone_a">
					<img class="hot_mob_img" src="../../static/i/mobile/2.jpg"/>
					<p class="hot_m_name">iPhone 7 plus</p>
					<p class="hot_price">回收均价：<b>￥4500</b></p>
				</a>
				<a href="Attribute?id=5164" class="phone_a">
					<img class="hot_mob_img" src="../../static/i/mobile/2.jpg"/>
					<p class="hot_m_name">iPhone 7</p>
					<p class="hot_price">回收均价：<b>￥3500</b></p>
				</a>
				<a href="Attribute?id=732" class="phone_a">
					<img class="hot_mob_img" src="../../static/i/mobile/3.jpg"/>
					<p class="hot_m_name">iPhone 5</p>
					<p class="hot_price">回收均价：<b>￥300</b></p>
				</a>
				<a href="Attribute?id=5039" class="phone_a">
					<img class="hot_mob_img" src="../../static/i/mobile/4.jpg"/>
					<p class="hot_m_name">iPhone 6S plus</p>
					<p class="hot_price">回收均价：<b>￥2700</b></p>
				</a>
				<a href="Attribute?id=734" class="phone_a">
					<img class="hot_mob_img" src="../../static/i/mobile/5.jpg"/>
					<p class="hot_m_name">iPhone 6s</p>
					<p class="hot_price">回收均价：<b>￥2500</b></p>
				</a>
				<a href="Attribute?id=5038" class="phone_a">
					<img class="hot_mob_img" src="../../static/i/mobile/6.jpg"/>
					<p class="hot_m_name">iPhone SE</p>
					<p class="hot_price">回收均价：<b>￥5120</b></p>
				</a>
				<a href="Attribute?id=730" class="phone_a">
					<img class="hot_mob_img" src="../../static/i/mobile/7.jpg"/>
					<p class="hot_m_name">iPhone 6</p>
					<p class="hot_price">回收均价：<b>￥4100</b></p>
				</a>
			</div>
		</div>
		<footer>
			<a href="ShowBrand" class="last_btn">我要卖手机</a>
		</footer>
	</div>
	</body>
	<script src="../../static/m/js/jquery-1.11.1.min.js"></script>
	<script src="../../static/m/js/common.js"></script>
	<script src="../../static/m/js/init.js?v=10010"></script>
</html>
