<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>系统统计</title>
		<link rel="stylesheet" type="text/css" href="../../static/public/css/common.css"/>	
		<link rel="stylesheet" type="text/css" href="../../static/c/css/c_order.css"/>	
		<link rel="stylesheet" type="text/css" href="../../static/c/css/laydate.css"/>
		<link rel="stylesheet" type="text/css" href="../../static/public/css/page.css"/>
	</head>
	<body>
		{include file="c/top.html"}
		<div class="cont">
			<div class="left">
				<ul class="l_ul">
					<li class="l_li"><span class="lisp"><a href="../../c/statis/show">用户管理</a></span><b class="clb clbhov"></b></li>
					<li class="l_li"><span class="lisp lisp_hov">订单管理</span><b class="clb"></b></li>
					<li class="l_li"><span class="lisp">系统管理</span><b class="clb"></b></li>
				</ul>
				<ul class="left_ul">
					<li class="left_li"><a href='../../c/Order/user'>订单列表</a></li>
					<li class="left_li"><a href="../../c/Address/shop">店铺列表</a></li>
					<li class="left_li leftli_hov">提货列表</li>
					<!-- <li class="left_li " ></li> -->
				</ul>
			</div>
			<div class="right">
				<div class="rightbox">
				<p class="sh_list" onclick="toggfun();">显示 / 隐藏订单列表</p>
				<div class="l_box" style="display:block">
					<div class="search">
						<input type="text" class="sear" placeholder="搜索" />
						<span class="sear_btn" onclick="getDistill(1)" >搜索</span>
					</div>
					<div class="list_all">
						<!--标题各项-->
						<ul class="tit_ul">
							<li class="tit_li flexTwo">编号</li>
							<li class="tit_li flexTwo">提货人</li>
							<li class="tit_li flexThree">货源</li>
							<li class="tit_li flexTwo">状态</li>
							<li class="tit_li flexTwo">操作</li>
						</ul>
						<!--每列信息都为一个ul-->
						<div class="mess_box">
						</div>
					</div>
					<!-- 总共多少条 -->
					<input type="hidden" class="count_page" value="">
					<!-- 总共多少页 -->
					<input type="hidden" class="page" value="">
					<!-- 下一页 -->
					<input type="hidden" class='next_page'>
					<div class="page_xian" style="display:none">
					{include file="c/page.html"}
					</div>
				</div>
			</div>
			</div>
		</div>
	</body>
	<script src="../../static/m/js/jquery-1.11.1.min.js"></script>
	<script src="../../static/public/js/public.js"></script>	
	<script src="../../static/public/js/paging.js"></script>
	<script src="../../static/c/js/show.js"></script>
	<script src="../../static/c/js/laydate.js"></script>
	<script src="../../static/c/ajax/request_distill.js"></script>	
	<script>
		loadFun();
		//日期范围限制
		datafun();
	</script>
</html>