<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>分页</title>
		<link rel="stylesheet" href="../../static/public/css/page.css" />
	</head>
	<body>
		<div id="page" class="page_div">
			<a id="firstPage">首页</a>
			<a id="prePage">上一页</a>
			<a class="current">1</a>
			<a>2</a>
			<a>3</a>
			<a>4</a>
			<a>5</a>. . .
			<a>9</a>
			<a id="nextPage">下一页</a>
			<a id="lastPage">尾页</a>
			<span class="totalPages"> 共<span>9</span>页 </span>
			<span class="totalSize"> 共<span>300</span>条记录 </span>
		</div>
	</body>
	<script src="../../static/public/js/jquery-1.11.1.min.js"></script>
	<script src="../../static/public/js/paging.js"></script>
</html>
