<div class="rightbox">
	<div class="r_top">
		<span class="r_top_t">非正常用户统计统计</span>
		<div class="r_tj">
			<span class="r_tj_t">等待审核 :</span>
			<span class="r_tj_r">12</span>
			<span class="r_tj_dw">人</span>
			<span class="r_tj_t">停用:</span>
			<span class="r_tj_r">5</span>
			<span class="r_tj_dw">人</span>
		</div>
	</div>
	<p class="sh_list" onclick="toggfun();">显示 / 隐藏订单列表</p>
	<div class="l_box">
		<div class="search">
			<input type="text" class="sear" placeholder="搜索" />
			<span class="sear_btn">搜索</span>
		</div>
		<div class="list_all">
			<!--标题各项-->
			<ul class="tit_ul">
				<li class="tit_li flexTwo">账号</li>
				<li class="tit_li flexThree">身份</li>
				<li class="tit_li flexTwo">联系电话</li>
				<li class="tit_li flexThree">注册时间</li>
				<li class="tit_li flexTwo">最后登录时间</li>
				<li class="tit_li flexTwo">当前状态</li>
				<li class="tit_li flexThree">操作</li>
			</ul>
			<!--每列信息都为一个ul-->
			<div class="mess_box">
				<ul class="l_list">
					<li class="tit_li flexTwo">13167310237</li>
					<li class="tit_li flexThree">dasdasdasdasdasdqwf</li>
					<li class="tit_li flexTwo">你知道我知道</li>
					<li class="tit_li flexThree">2017-12-10</li>
					<li class="tit_li flexTwo">2017-12-23</li>
					<li class="tit_li flexTwo">正常</li>
					<li class="tit_li flexThree"><span class="jiny" onclick="">封停</span>   <span class="jief" onclick="">解封</span>  <span class="jief" onclick="">查看</span></li>
				</ul>
			</div>
		</div>
		<!--分页-->
	</div>
</div>