<div class="shadow"></div>
<div class="box shw">
	<p class="title">审核</p>
	<div class="form_d">
		<span class="f_sp">权限列表  :</span>
		<input type="text" readonly="readonly" value="" class="op_two roleid" onclick="showul(this)"/>
		<ul class="posi_ul sel" style="display: none;">
			<li onclick="addInput(this);">店铺1-中关村创业园前后无色若翁无若若无阿萨阿克12号楼1单元1203室</li>
			<li onclick="addInput(this);">店铺1-中关村创业园12号楼1单元1203室</li>
			<li onclick="addInput(this);">店铺1-中关村创业园12号楼1单元1203室</li>
		</ul>
	</div>
	<div class="form_d">
		<span class="f_sp">店铺列表  :</span>
		<input type="text" readonly="readonly" value="" class="op_two addrid" onclick="showul(this)"/>
		<ul class="posi_ul addrs" style="display: none;">
			<li onclick="addInput(this);">店铺1-中关村创业园前后无色若翁无若若无阿萨阿克12号楼1单元1203室</li>
			<li onclick="addInput(this);">店铺1-中关村创业园12号楼1单元1203室</li>
			<li onclick="addInput(this);">店铺1-中关村创业园12号楼1单元1203室</li>
		</ul>
	</div>
	<div class="form_d dianzhan" style="display:none">
		<span class="f_sp">店长列表  :</span>
		<input type="text" readonly="readonly" value="" class="op_two manid" onclick="showul(this)"/>
		<ul class="posi_ul dian" style="display: none;">
			<li onclick="addInput(this);">店铺1-中关村创业园前后无色若翁无若若无阿萨阿克12号楼1单元1203室</li>
			<li onclick="addInput(this);">店铺1-中关村创业园12号楼1单元1203室</li>
			<li onclick="addInput(this);">店铺1-中关村创业园12号楼1单元1203室</li>
		</ul>
	</div>
	<input type="hidden" name="userid" id="userid" data="">
	<div class="btn_b">
		<span class="btn cancel" onclick="hides();">取消</span>
		<span class="btn sure" onclick="hides();saves()">确定</span>
	</div>
</div>