<div class="shadow"></div>
<div class="box banka">
	<p class="title">店铺信息</p>
	<div class="form_d">
		<span class="f_sp">店铺名字  :</span><input type="text" class="shu_inp add_name" value=""/>
	</div>
	<div class="form_d">
		<span class="f_sp">店铺地址  :</span><input type="text" class="shu_inp add_address" value=""/>
	</div>
	<div class="form_d">
		<span class="f_sp">店铺编号  :</span><input type="text" class="shu_inp add_number" value=""/>
	</div>
	<div class="form_d">
		<!-- <span class="f_sp">提货员  :</span><input type="text" class="shu_inp add_number" value=""/> -->
		<span class="f_sp">提货员  :</span>
		<input type="text" readonly="readonly" value=""  name="juese"  class="op_two juese" onclick="showul(this)"/>
		<ul class="posi_ul jiaose" style="display: none;">
		</ul>
	</div>
	<div class="btn_b">
		<span class="btn cancel" onclick="hides();">取消</span>
		<span class="btn sure" onclick="hides();intoAddress()">确定</span>
	</div>
</div>